{% extends 'chiper_Totoro/base.html' %}
{% load static %}
{% block content %}
<div class="main main-raised" style="margin-top: 100px;">
    <div class="section section-basic">
        <div class="container">
            {% if tenderos_list %}
            <ul class="list-unstyled">
                <div class="row">
                    {% for tendero in tenderos_list %}
                    <div class="col-lg-4 col-sm-4 border-bottom">
                        <li class="media my-4">
                            <a href="./{{tendero.id}}"><img
                                    class="align-self-start mr-3 img-thumbnail border border-secondary"
                                    src='https://www.flaticon.com/premium-icon/icons/svg/2681/2681788.svg'
                                    alt="{{ tendero.name }}" style="max-height:100px; cursor: pointer;"></a>
                            <div class="media-body" style='min-height:100px'>
                                <span class="text-bigger"> {{ tendero.name }} </span>
                                <h5><a href="./{{tendero.id}}"> Id: {{ tendero.personalId }}</a></h5>
                                <span> Correo: {{ tendero.mail }}</span>
                            </div>
                        </li>
                    </div>
                    {% endfor %}
                </div>
            </ul>
            {% else %}
            <div class="title">
                <h2>No hay tenderos disponibles <em class="material-icons">sentiment_very_dissatisfied</em></h2>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
