{% extends 'chiper_Totoro/base.html' %}
{% load static %}
{% block content %}
    <div class="main main-raised" style="margin-top: 100px;text-align: center">
        <div class="section section-basic">
            <div class="container">
                <div class="title">
                    <h2>Crear Bodega</h2>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <br>
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success waves-effect waves-light">Crear
                    </button>
                    <button type="button" class="btn btn-danger waves-effect waves-light"
                            onClick="window.location.href='/logistica/list_bodegas/'">Cancelar
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}