{% extends 'chiper_Totoro/base.html' %}
{% load static %}
{% block content %}
    <div class="main main-raised" style="margin-top: 100px;">
        <div class="section section-basic">
            <div class="container">
                {% if bodegas_list %}
                    <ul class="list-unstyled">
                        <div class="row row-cols-1 row-cols-md-2">
                            {% for bodega in bodegas_list %}
                                <div class="col border-bottom">
                                    <li class="media my-4">
                                        <img class="align-self-start mr-3 img-thumbnail border border-secondary"
                                             src='https://image.flaticon.com/icons/svg/46/46028.svg'
                                             alt="{{ bodega.address }}" style="max-height:100px; cursor: pointer;">
                                        <div class="media-body" style='min-height:100px'>
                                            <h3><a href="./{{ bodega.id }}"> {{ bodega.address }} </a></h3>
                                            <p> {{ bodega.id }}</p>
                                        </div>
                                    </li>
                                </div>
                            {% endfor %}
                        </div>
                    </ul>
                {% else %}
                    <div class="title">
                        <h2>No hay bodegas registradas <i class="material-icons">sentiment_very_dissatisfied</i></h2>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

