{% extends 'chiper_Totoro/base.html' %}
{% load static %}
{% block content %}
<div class="main main-raised" style="margin-top: 100px;">
    <div class="section section-basic">
        <div class="container">
            {% if tiendas_list %}
            <ul class="list-unstyled">
                <div class="row">
                    {% for tienda in tiendas_list %}
                    <div class="col-lg-4 col-sm-4 border-bottom">
                        <li class="media my-4">
                            <a href="./{{ tienda.id }}"><img
                                    class="align-self-start mr-3 img-thumbnail border border-secondary"
                                    src='https://www.flaticon.com/premium-icon/icons/svg/2954/2954827.svg'
                                    alt="{{ tienda.address }}" style="max-height:60px; cursor: pointer;"></a>
                            <div class="media-body" style='min-height:65px'>
                                <span class="text-bigger"><a href="./{{ tienda.id }}"> {{ tienda.address }} </a></span>
                                <p> {{ tienda.id }}</p>
                            </div>
                        </li>
                    </div>
                    {% endfor %}
                </div>
            </ul>
            {% else %}
            <div class="title">
                <h2>No hay tiendas registradas <em class="material-icons">sentiment_very_dissatisfied</em></h2>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}